@media only screen and (max-width: 768px) {
    .twitch-embed-bg{
        aspect-ratio: unset;
        height: 100%;
        width: 70%;
    }
    .my-profile-info-bio-section{
        display: none;
    }
    .main{
        position: relative;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        height: 100vh;
        min-height: 600px;
        display: flex;
    }
    .search-form-desktop{
        display: none;
    }
    .search-form-laptop{
        display: flex;
        justify-content: center;
    }
    .search-form{
        margin-top: 20px;
    }
    .laptop-search{
        width: 100%;
        height: unset;
    }
    .my-profile-info-section{
        margin-top: 20px;
        min-height: unset;
        height: unset;
    }
    .my-info-pic-static{
        margin-left: 20px;
        width: 150px;
        height: unset;
    }
    .my-user-name{
        margin-left: 20px;
    }
    .my-profile-info-header{
        min-height: unset;
        height: unset;
    }

    .main-page{
        min-height: unset;
        height: unset;
        width: 100%;
        height: 65%;
    }
    .twitch-embed-section{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .bg-section{
        height: 100%;
    }
    .my-profile-info-section{
        flex-direction: row;
    }
    .laptop-search{
        height: unset;
    }
    .my-profile-info-header{
        flex-direction: row;
    }
    .bg-color{
        
        background: conic-gradient(from 180deg at 50% 35%, #1CE66C 0deg, #460878 360deg);
    }
    .bg-color1{
        background: conic-gradient(from 180deg at 50% 35%, #E61C1C 0deg, #460878 360deg);
    }
    .bg-color2{
        background: conic-gradient(from 180deg at 50% 35%, #1DA1F2 0deg, #460878 360deg);;
       
    }
    .bg-color3{
        background: conic-gradient(from 180deg at 50% 35%, #bbb16f 0deg, #460878 360deg);;
    }
    .twitter-timeline-div{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: scroll;
    }
}